# Docker platform (Apple Silicon default)
DOCKER_PLATFORM=linux/arm64/v8

# PHP version used by Nginx stack (7.4|8.2|8.4)
NGINX_PHP_VERSION=8.4
# PHP version used by Apache stack (7.4|8.2|8.4)
APACHE_PHP_VERSION=7.4

# Workspace mount for each PHP container (use . for root)
WEB_PROJECT_DIR_NGINX=.
WEB_PROJECT_DIR_APACHE=.

# Optional build switches
INSTALL_XDEBUG=true
INSTALL_BROWSER_TOOLS=true
INSTALL_PUPPETEER=true

# Web server ports
NGINX_PORT=80
APACHE_PORT=8080

# PHP Nginx exposed ports
XDEBUG_NGINX_PORT=9003
PHP_NGINX_PORT_4173=4173
PHP_NGINX_PORT_4000=4000
PHP_NGINX_PORT_5175=5175
LARAVEL_REVERB_NGINX_PORT=8081
NEST_JS_NGINX_PORT=9005

# PHP Apache exposed ports
XDEBUG_APACHE_PORT=9004
PHP_APACHE_PORT_4173=4273
PHP_APACHE_PORT_4000=4100
PHP_APACHE_PORT_5175=5275
LARAVEL_REVERB_APACHE_PORT=8181
NEST_JS_APACHE_PORT=9006

# Data ports
MYSQL_PORT=3306
POSTGRES_PORT=5432
REDIS_PORT=6379

# Database engine major versions
POSTGRES_VERSION=17

# Passwords
MYSQL_ROOT_PASSWORD=root
MYSQL_ALLOW_EMPTY_PASSWORD=true
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
REDIS_PASSWORD=redis
